# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# VSCode settings (local/personal)
.vscode/
git
# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp

# Salidas de compilación
dist/
build/
